div#table table {
	border-collapse: collapse; 
	border-spacing: 0;
}
div#table table tr td {
	border: 1px solid black !important;
	margin: 0 !important;
	padding: 0;
}
html {
	background-color: gray;
}
.table {
	background-color: white;
}